:root {
  /* declare variables */
  /* main colours */
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  /* secondary colours */
  --transparent-white-p: hsla(0, 0%, 100%, 0.75);
  --very-light-gray-bg-h-btn: hsl(0, 0%, 95%);
}
*,
*::after,
*::before,
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-size: 15px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  background-color: var(--very-light-gray-bg-h-btn);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card {
  height: 70%;
  width: min(70%, 67em);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
img {
  max-width: 100%;
  display: block;
  /* width: 30%; */
  width: 4.5em;
}
h1 {
  font-family: "Big Shoulders Display", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--very-light-gray-bg-h-btn);
  font-size: 3em;
  margin-top: 0.5em;
  margin-bottom: 0.3em;
}
.panel {
  display: flex;
  flex-direction: column;
  padding: 3.3em 3em;
  line-height: 1.7;
  color: var(--transparent-white-p);
}
.sedans {
  background-color: var(--bright-orange);
  border-radius: 0.5rem 0 0 0.5rem;
}
.suvs {
  background-color: var(--dark-cyan);
}
.luxury {
  background-color: var(--very-dark-cyan);
  border-radius: 0 0.5rem 0.5rem 0;
}
button {
  border: none;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  border: 2px solid var(--very-light-gray-bg-h-btn);
  border-radius: 3rem;
  width: max-content;
  padding: 0.5rem 1rem;
  font-size: 15px;
  background-color: white;
  margin-top: auto;
}
.sedans button {
  color: var(--bright-orange);
}
.suvs button {
  color: var(--dark-cyan);
}
.luxury button {
  color: var(--very-dark-cyan);
}
button:hover {
  background-color: transparent;
  color: var(--very-light-gray-bg-h-btn);
  cursor: pointer;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  bottom: 0;
  margin-bottom: 10px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 55em) {
  body {
    font-size: 14px;
  }
  .card {
    height: 80%;
    width: min(80%, 52em);
  }
}

@media only screen and (max-width: 35em) {
  body {
    font-size: 13px;
    height: 100%;
  }
  .card {
    display: flex;
    flex-direction: column;
    width: min(80%, 28em);
    margin: 5em auto;
  }
  .panel {
    column-gap: 1rem;
    padding: 3.3em 3.5em;
  }
  .sedans {
    border-radius: 0.5rem 0.5rem 0 0;
  }
  .luxury {
    border-radius: 0 0 0.5rem 0.5rem;
  }
  button {
    font-size: 13px;
    margin-top: 2em;
  }
  .attribution {
    position: unset;
    margin-bottom: 10px;
  }
}
