:root {
    /* primary colours */
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    /* neutral colours */
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --neutral-white: hsl(0, 0%, 100%);
    /* other assets */
    --desktop-image: "images/image-product-desktop.jpg";
    --mobile-image: "images/image-product-mobile.jpg";
    --text-padding: 1rem;
    --radius: 0.5rem
}

*, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 1px sold brown;
}
body {
    background-color: var(--cream);
    font-family: 'Montserrat', Verdana, Tahoma, sans-serif;
    font-size: 14px;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    


}
.card {
    width: 350px;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--neutral-white);
    color: var(--dark-grayish-blue);
    border-radius: var(--radius);

}
.image {
    background-image: url("images/image-product-mobile.jpg");
    background-color: var(--cream);
    width: 350px;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: var(--radius) var(--radius) 0 0;
}
.textfield {
    padding: var(--text-padding);
}
.perfume {
    letter-spacing: 0.3rem;
    font-size: 0.5rem;
    margin-bottom: 0.5rem;

}
.fancy-text {
    font-family: 'Fraunces', Verdana, Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1.9rem;
}
.title {
    color: var(--very-dark-blue);
}
.description {
    font-size: 0.76rem;
    margin: 1rem 0;
    font-weight: 400;
    line-height: 1.2rem;
}
.price-tag {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.5rem 0;
}
.new-price {
    color: var(--dark-cyan);
    margin-right: 1rem;
}
.old-price {
    font-size: 0.7rem;
    text-decoration: line-through;
}
.cart-btn {
    border: 0;
    width: 100%;
    height: 3rem;
    color: var(--neutral-white);
    background-color: var(--dark-cyan);
    border-radius: var(--radius);
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-btn span {
    font-weight: 700;
    font-size: smaller;
    vertical-align: middle;
    margin-left: 0.5rem;
}




.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media screen and (min-width: 380px) {
    body {
        font-size: 14px;
        height: 100vh;
        width: 100%;
        /* display: flex; */
        /* flex-direction: row; */
        justify-content: center;
        align-items: center;

    }
    .card {
        /* width: 350px; */
        height: 60%;
        max-height: 60%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: var(--neutral-white);
        color: var(--dark-grayish-blue);
        border-radius: var(--radius);
    
    }
    .image-div {
        background-image: url("images/image-product-desktop.jpg");
        background-color: var(--cream);
        /* width: 100%; */
        /* height: 100%; */
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        /* background-clip: border-box; */
        border-radius: var(--radius) 0 0 var(--radius) ;
    }
    .textfield {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: var(--text-padding);
    }
    
}