/* CSS reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
image,
svg,
picture,
video {
  display: block;
  max-width: 100%;
}
input,
textarea,
button,
select {
  font: inherit;
}

/* VARIABLES */
:root {
  --abl-text: black;
  --abl-bg: white;
  --abl-blue: blue;
  --abl-yellow: #fbffa7;
  --abl-coral: #ff764d;
  --abl-lightblue: #b1c5ff;
  --abl-lightgreen: #b6ffc0;
  --abl-lightpurple: #d5b3ff;
}

/* FONTS */
html {
  font-family: 'Nunito Sans', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-size: 75%;
  color: var(--abl-text);
  line-height: 1.5;
}

a {
  text-decoration: none;
  font: inherit;
  color: var(--abl-text);
}
a:active {
  color: var(--abl-coral);
}
h1 {
  color: var(--abl-coral);
  font-size: 4rem;
  font-weight: 600;
}
h2 {
  font-size: 1.4rem;
  line-height: 1.6;
}
h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 1.1rem;
  line-height: 1.5;
}

main p {
  font-size: 1rem;
  margin: 1em 0;
}

.blue-inline-link {
  color: var(--abl-blue);
  cursor: pointer;
}
.logo {
  color: white;
  font-size: 2rem;
}
.main-link-item a {
  color: abl var(--abl-bg);
  font-weight: 700;
  cursor: pointer;
  font-size: 0.9rem;
}
.navbar-primary__more a {
  /* font-weight: 400; */
  font-size: 0.6rem;
}
/* GENERAL */
ul {
  list-style-position: inside;
  list-style-type: none;
}
::selection {
  background-color: var(--abl-blue);
  color: white;
}
/* LAYOUT */
/* MOBILE FIRST */
body {
  background-color: #ddd;
  min-height: 100vh;
}
.page {
  background-color: var(--abl-bg);
  max-width: 1600px;
  min-height: 100vh;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

/* NAVIGATION */
.navbar-primary {
  background-color: var(--abl-blue);
  color: var(--abl-bg);
  width: 100%;

  position: relative;
  z-index: 5;
  padding: 0.5em 1em;
  translate: 0 -100%;
  transition: translate 700ms ease-out;
}
.navbar-primary.is-expanded {
  translate: 0 0%;
}
.main-logo {
  border: 1px solid red;
}
.main-link-item {
  padding: 0.5em 0;
}
.navbar-primary__more > section {
  font-weight: 700;
  margin: 0.5em 0;
}
.navbar-primary__more .main-link-item {
  padding: 0.25em 0;
}
.navbar-secondary {
  padding: 0.5em 1em;
}
.navbar-secondary ul {
  display: flex;
  align-items: center;
  gap: 2em;
}

/* MAIN content */
main {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 clamp(1em, 9vw, 12em);
}

.hero-image {
  height: 80vh;
  background-color: aquamarine;
  display: grid;
  place-content: center;
  background-image: url('assets/images/hero-img.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.about-section {
  margin-block: 3em;
}
.about-text {
  width: min(100%, 800px);
  margin: 0 auto;
}
/* section 3 collage */
.about-3 {
  height: min(60vw, 900px);
  position: relative;
}
.about-3-bg-rect {
  background-color: var(--abl-yellow);
  height: 100%;
  max-width: 100%;
  aspect-ratio: 1/1;
  position: absolute;
  top: 0;
  right: 0;
  translate: 15% 0;
}
.about-3-img-1 {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  left: 0;
  height: 70%;
  aspect-ratio: 1/1;
}
.about-3-img-2 {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  left: 60%;
  height: 36%;
}
/* section 5 video */
.about-5 {
  width: min(100%, 1000px);
  padding-bottom: 56.25%; /*for the 16:9 aspect ratio*/
  position: relative;
  margin: 3em auto;
}
.about-5 iframe {
  position: absolute; /* to hold the aspect ratio*/
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

/* section 7 collage */
.about-7 {
  height: min(60vw, 1200px);
  position: relative;
}
.about-7-bg-rect {
  background-color: var(--abl-lightgreen);
  height: 100%;
  width: 75%;
  position: absolute;
  top: 0;
  left: 0;
  translate: -15% 0;
}
.about-7-img-1,
.about-7-img-2 {
  position: absolute;
  left: 0;
  height: 30%;
  aspect-ratio: 16/11;
}
.about-7-img-1 {
  top: 10%;
}
.about-7-img-2 {
  top: 60%;
}
.about-7-img-3 {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  left: 58%;
  height: 50%;
  aspect-ratio: 1/1;
}

/* section 9 collage */
.about-9-wrapper {
  width: 100%;
  height: min(60vw, 800px);
  /* display: grid; */
  /* grid-template-rows: 2fr 1fr; */
  display: flex;
  flex-direction: column;
}

.about-9-img {
  min-height: 300px;
  background-image: url('assets/images/ableton-dj.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.about-9-text {
  background-color: var(--abl-lightblue);
  display: grid;
  place-content: center;
  gap: 1em;
  padding: 2em 3em;
}
.about-9-text p {
  font-weight: 700;
  font-size: 1.5rem;
}
@media only screen and (min-width: 1280px) {
  .about-9-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .about-9-text {
    padding: 5em;
  }
}

/* FOOTER */
footer {
  margin: 0 clamp(1em, 9vw, 12em);
  padding: 4em 0 0;
}
.footer-menu {
  display: grid;
}

.footer-menu__section {
  margin: 2em 0;
}

.footer-menu__menu-item {
  display: block;
  width: max-content;
  line-height: 1.8;
}
.footer_section-3 {
  order: -1;
}
.footer_section-3 form {
  display: flex;
}
.footer_section-3 input,
.footer_section-6 select {
  font: inherit;
  height: 2.5em;
  padding: 0.5em;
  border: 0;
}
.footer_section-3 input[type='email'] {
  background-color: #ddd;
  flex-grow: 1;
}
.footer_section-3 input[type='submit'] {
  background: var(--abl-blue);
  color: white;
  font-weight: 800;
  padding: 0.5em 1.5em;
}

.footer-menu__social-links .bx {
  font-size: 3rem;
  margin: 0.25em 0.25em 0 0;
  color: white;
}
.bxl-facebook {
  background-color: darkslateblue;
}
.bxl-twitter {
  background-color: skyblue;
}
.bxl-youtube {
  background-color: red;
}
.bxl-instagram {
  background-color: lightsalmon;
}

.footer_section-6 select {
  font-weight: 700;
  width: calc(max-content + 5em);
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  gap: 2em;
  font-size: 0.8rem;
}
.footer-bottom__legal-links {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.footer-bottom__copyright {
  display: flex;
  align-items: center;
  margin: 3em 0;
}
.footer-bottom__copyright span {
  display: flex;
  margin-right: 0.25em;
}
.footer-bottom__copyright .logo {
  color: var(--abl-text);
}

/* MEDIA QUERIES */
@media only screen and (min-width: 1024px) {
  .footer-menu {
    display: grid;
    /* grid-template-columns: 1fr 1fr minmax(10ch, 32ch); */
    grid-template-columns: 1fr 1fr 1fr;
  }
  .footer_section-3 {
    order: unset;
  }
  .footer-bottom {
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 3em;
  }
  .footer-bottom__legal-links {
    display: flex;
    flex-direction: row;
    align-content: center;
  }
  .footer-bottom__copyright {
    display: flex;
    margin: 0;
  }
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 100%;
  }
  h1 {
    font-size: 5rem;
  }
}
@media only screen and (min-width: 1280px) {
  html {
    font-size: 120%;
  }
  h1 {
    font-size: 6rem;
  }
}
