:root {
  /* Primary colours */
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);

  /* Neutral colours */
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);

  --size: 15px;
}

/* CSS reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img,
picture,
svg {
  max-width: 100%;
  display: block;
}
/* rubbish */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 2em;
}

/* FONTS */
html {
  text-rendering: optimizeSpeed;
  font-family: 'Inter', sans-serif;
  font-size: var(--size);
  font-weight: 400;
}
.nav-link {
  text-decoration: none;
  color: var(--dark-grayish-blue);
  font-size: 1.2rem;
}
.nav-link:is(:hover, :focus-visible),
h4:is(:hover, :focus-visible) {
  color: var(--soft-red);
  cursor: pointer;
}
h1,
h4 {
  color: var(--very-dark-blue);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--soft-orange);
}
h3 {
  font-size: 1.3rem;
  color: var(--off-white);
}
h3:is(:hover, :focus-visible) {
  color: var(--soft-orange);
  cursor: pointer;
}
h4 {
  font-size: 1.2rem;
}
h1,
h3,
h4 {
  font-weight: 800;
}
.subtitle {
  color: var(--dark-grayish-blue);
  line-height: 1.75;
}
.news-section__post__subtitle {
  color: var(--grayish-blue);
}
.hero__btn {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  color: var(--off-white);
  font-weight: 700;
}

/* LAYOUT and BG */
body {
  padding: 1em;
  background-color: var(--off-white);
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main {
  display: grid;
}
section {
  margin-block: 1.5em;
}
.hero__image {
  background-image: url('images/image-web-3-mobile.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  aspect-ratio: 1/1;
}
.hero__title {
  margin: 0.25em 0;
}
.hero__subtitle {
  /* border: 2px solid green; */
  /* margin: 1em 0; */
}
.hero__btn {
  display: block;
  background-color: var(--soft-red);
  padding: 1em;
  margin: 1.5em 0;
  width: 14em;
  text-align: center;
  cursor: pointer;
}
.hero__btn:is(:hover, :focus-visible) {
  background-color: var(--very-dark-blue);
}
.news-section {
  background-color: var(--very-dark-blue);
  padding: 1.5em 1.5em 0;
}
.news-section__post {
  margin-block: 2em;
}
.news-section__post__heading {
  margin: 0.5em 0;
}
hr {
  color: var(--grayish-blue);
  border: 0.5px solid;
  border-radius: 5em;
  opacity: 0.4;
}
.other {
  counter-reset: other-counter;
}
.other__post {
  display: flex;
  margin-block: 2.5em;
  gap: 1.5em;
}
.other__post__img {
  height: 10em;
}
.other__post__text {
  padding: 0.25em 0.5em;
}
.other__post__counter {
  font-size: 2rem;
  color: var(--grayish-blue);
  font-weight: 800;
  counter-increment: other-counter;
}
.other__post__counter::before {
  content: '0' counter(other-counter);
}
.other__post__heading {
  margin-block: 0.75em;
}

@media only screen and (min-width: 800px) {
  body {
    padding: 10em;
    max-width: 1440px;
  }
  header {
    padding-bottom: 4em;
  }
  nav {
    display: flex;
    gap: 4em;
  }
  main {
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
  }
  section {
    margin-block: 0;
  }
  .hero__image {
    background-image: url('images/image-web-3-desktop.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    /* width: max-content; */
    height: 100%;
    aspect-ratio: unset;
  }
  .hero {
    grid-column: 1/3;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
  }
  .hero__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
  }
  .hero__details {
    padding-block: 1em;
  }
  .news-section {
    grid-column: 3/4;
  }
  .other {
    display: flex;
    grid-column: 1/4;
    grid-row: 2/3;
  }
  .other__post__img {
    height: auto;
    /* width: 25%; */
  }
}
