:root {
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --cyan-hover: hsla(178, 100%, 50%, 0.5);
    --main-bg-blue: hsl(217, 54%, 11%);
    --card-bg-blue: hsl(216, 50%, 16%);
    --line-color-blue: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}
*, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    height: 100%;
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: var(--soft-blue);
    min-height: calc(100vh - 1px);
    background-color: var(--main-bg-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    /* declare variables for the upcoming box shadow */
    --vertical-shift: 10px;
    --horizontal-shift: 30px;
    --blur: 5px;
    --spread: 10px;
    --shadow-color: hsl(216, 51%, 10%);
    /* style the card */
    width: 340px;
    max-width: 360px;
    height: 60%;
    background-color: var(--card-bg-blue);
    border-radius: 1rem;
    padding: 20px;
    margin: 0 20px;
    /* create the dark box shadow seen below the card, need two shadows, one to the right, one to the left */
    box-shadow: 
    var(--vertical-shift) var(--horizontal-shift) var(--blur) var(--spread) var(--shadow-color),
    calc(-1 * var(--vertical-shift)) var(--horizontal-shift) var(--blur) var(--spread) var(--shadow-color);
    
}
.nft-container img {
    max-width: 100%;
    border-radius: 0.5rem;
    display: block;
}

/* middle part */
.textfield {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
h1 {
    color: var(--white);
    font-size: 120%;
}
ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1, ul {
    margin: 20px 0;
}
li {
    display: flex;
    align-items: center;
}
.price {
    font-weight: 600;
    color: var(--cyan);
}
li img {
    margin-right: 10px;
}
hr {
    height: 1px;
    background-color: var(--line-color-blue);
    border: none;
}

/* bottom part */
.author {
    display: flex;
    align-items: center;
    height: 10%;
    margin: 15px 0 5px 0;
    font-size: 85%;
}
.author img {
    height: 30px;
    max-height: 100%;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 15px;
}

/* hover effects on text */
.author span {
    color: var(--white);
}
h1:hover, .author span:hover {
    color: var(--cyan);
    cursor: pointer;
    transition: 200ms ease-in;
}

/* hover effect on the NFT image  */
/* ::before and/or ::after need to be on a container, not the image itself */
.nft-container {
    position: relative;
}
.nft-container::after {
    content: "";
    position: absolute;
    /* top: 0;
    left: 0;
    width: 100%;
    height: 100%; */
    inset: 0;
    /* inset 0 equals ot heigh width 100% and all 4 position markers at value 0; very useful shortcut */
    /* by using inset 0, you don't need width and height as the element will stretch all the way */
    opacity: 0;
} 
.nft-container::after {
    /* this is the half-transparent image cover, does not need z-index because its ::after */
    background-color: var(--cyan-hover);
    background-image: url(images/icon-view.svg);
    background-repeat: no-repeat;
    background-position: center;
    /* the 4 lines above can be squeezed into this: */
    /* background: var(--cyan-hover) url(images/icon-view.svg) center no-repeat; */
    border-radius: 0.5rem;
}
.nft-container:hover::after {
    opacity: 1;
    cursor: pointer;
    transition: 150ms ease-in;
}



 .attribution { font-size: 11px; text-align: center; }
 .attribution a { color: hsl(228, 45%, 44%); }